#useDynLib(fsn, .registration = TRUE)

importFrom("Rfast", Rank, colRanks, rowsums)
importFrom("rangen", Sample)
importFrom("dcov", dcor, mdcor)

exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
